<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grapefruit.shiro.mapper.GrapeMapper">

    <resultMap id="baseMap" type="com.grapefruit.shiro.entity.Grape">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="num" column="num"/>
        <result property="permission" column="permission"/>
        <result property="password" column="password"/>
    </resultMap>

    <sql id="columns"> id
    ,`name`,num,content</sql>

    <!-- 当flushCache="true"时,mybatis将关闭一级和二级缓存 -->
    <!-- 官网链接:https://mybatis.org/mybatis-3/zh/sqlmap-xml.html -->
    <select id="selectGrape" parameterType="java.lang.String" flushCache="true" resultMap="baseMap">
        select g.name, g.password, r.permission
        from grape g
                 join role r on g.role = r.roleId
        where g.name = #{name}

    </select>

    <insert id="saveGrape" parameterType="com.grapefruit.shiro.entity.Grape">
        <selectKey keyProperty="id" resultType="int" order="BEFORE">
            select count(*) + 1 as id from grape;
        </selectKey>
        insert into grape (id, name, num, content)
        values (#{id}, #{name}, #{num}, #{content})
    </insert>
</mapper>